*{
    margin:0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    padding-top:2px;
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url('photos/amazon_logo.png');
    background-size: cover;
    height: 50px;
    width:100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.nav-address{
    padding: 10px;
}

.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 4px;
}

.add-icon{
    display: flex;
    align-items:center;
}

.nav-search:hover{
    border: 3px solid orange;
    border-radius: 7px;
}

.nav-search{
    border: 3px solid transparent;
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 7px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none; 
}

.search-select:hover{
    background-color: #c8c5c5;
}

.search-input{
    width: 100%;
    border-radius: 0px;
    border: none;
    border-left: 1px rgb(243, 237, 237) solid;
    font-size: 1rem;
}

.search-icon{
    width:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgb(240, 200, 68);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:black;
}

.search-icon:hover{
    background-color: rgb(218, 178, 60);
}

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: bold;
}

.nav-acc{
    padding: 10px;
}

.nav-ret{
    padding: 10px;
}

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    padding: 10px;
    font-size: 0.85rem;
    font-weight: bold;
}
.panel{
    display: flex;
}
.panel-options{
    font-size: 0.85rem;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all{
    font-weight: bold;
    padding: 9px;
    
}

.panel-options{
    width:70%
}
.panel-options p{
    margin: 6px;
    display: inline;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.body-main{
    background-image: url('/photos/hero_image.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.body-txt{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%; 
    margin-bottom: 25px;   
}

.body-txt a{
    color: #007185;
}

.shop{
    background-color: #b6dbd4;
    display: flex;
    justify-content: space-evenly;
}

.box{
    height: 450px;
    width: 23%;
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-img{
    height:70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-content{
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.box-content h3{
    padding-top:20px;
    padding-bottom: 15px;    
}

.box-content p{
    padding-top:15px;
    color: #007185;  
}

.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.foot-panel2{
    height:350px;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
    color: #dddddd;
}

ul p{
    font-size: 1.2rem;
    font-weight: bold;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.footer-border{
    padding-top:2px;
    height: 50px;
    width: 100px;
}

.logof{
    background-image: url('photos/amazon_logo.png');
    background-size:contain;
    background-repeat: no-repeat;
    height: 55px;

}
